<template name="ApplicationLayout">
	<header>
		<title>Trivia Rumble</title>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</header>

	<body>
		<header>
			<nav role="navigation">
				<div class="nav-wrapper container">
					<a href="/search" id="logo-container" class="brand-logo">Trivia Rumble</a>
					<ul class="right">
						<li><a href=""><i class="material-icons left">search</i>Find Friends</a></li>
						<li>{{> loginButtons align=right}}</li>
					</ul>
				</div>
			</nav>
		</header>
		<main>
			{{> yield}}
		</main>
		<footer class="page-footer">
			<div class="footer-copyright">
				<div class="container">
					@ 2016 Erick
				</div>
			</div>
		</footer>
	</body>
</template>